@{
	ViewData["Title"] = "Home Page";
}




<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">
	@section Scripts {
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script>
			$(function () {
				$("#accordion").accordion();
			});
		</script> }
	</head>

	<body>

		<h1 style="text-align:center;"> WELCOME TO THE PROJECT MANAGEMENT APPLICATION FOR YOU AND YOUR TEAM!  </h1>

		<br />

		<div id="accordion">
			<h3>KANBAN</h3>
			<div>
				<p>
					A Kanban board is one of the tools that can be used to implement Kanban
					to manage work at a personal or organizational level. Kanban boards
					visually depict work at various stages of a process using cards to represent
					work items and columns to represent each stage of the process.
				</p>
			</div>
			<h3>SWOT</h3>
			<div>
				<p>
					SWOT analysis (or SWOT matrix) is a strategic planning technique used to help a person or organization identify
					strengths, weaknesses, opportunities, and threats related to business competition or project planning.
					It is designed for use in the preliminary stages of decision-making processes and can be used as a tool
					for evaluation of the strategic position of a city or organization. It is intended to specify the objectives
					of the business venture or project and identify the internal and external factors that are favorable
					and unfavorable to achieving those objectives. Users of a SWOT analysis often ask and answer questions
					to generate meaningful information for each category to make the tool useful and identify their competitive
					advantage.

					<ul>
						<li>Strengths</li>
						<li>Weaknesses</li>
						<li>Opportunities</li>
						<li>Threats</li>
					</ul>

				</p>
			</div>
			<h3>TEAM CANVAS</h3>
			<div>
				<p>
					The Team Canvas is Business Model Canvas for teamwork. It is a free tool for leaders,
					facilitators and consultants to organize team alignment meetings and bring members on the same page,
					resolve conflicts and build productive culture, fast.
				</p>

			</div>
			<h3>LOGISTICS</h3>
			<div>
				<p>
					Cras dictum. Pellentesque habitant morbi tristique senectus et netus
					et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
					faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
					mauris vel est.
				</p>
				<p>
					Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
					Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
					inceptos himenaeos.
				</p>
			</div>
		</div>



	</body>
</html>


